<h3>Ask the coach anything...</h3>

<div class="d-flex">
  <form action="/answer" class="row col-6">
    <input type="text" name="answer" class="flex-grow-1">
    <input type="submit" value="Ask!" class="btn-primary">
  </form>
</div>
